# OctaClin - revisoes recomendadas

* @octanutri-clin

/octaclin-backend/ @octanutri-clin
/octaclin-web/ @octanutri-clin
/octaclin-ai-service/ @octanutri-clin
/octaclin-mobile/ @octanutri-clin
/.github/ @octanutri-clin
/*.md @octanutri-clin
